In [1]:
import numpy as np
import scipy
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/temperature_readings_from_a_ceramic_furnace.csv")

In [3]:
df.head()

Empty DataFrame
Columns: [1578.71,  1578.79,  1579.38,  1579.36,  1579.83,  1580.13,  1578.95,  1579.18,  1579.52,  1579.72,  1580.11,  1580.41,  1580.77,  1580.05,  1579.53,  1579.00,  1579.12,  1579.13,  1579.39,  1579.73,  1580.12,  1580.23,  1580.25,  1579.80,  1579.72.1,  1579.49,  1579.22,  1579.03,  1579.76,  1580.19,  1580.17,  1580.22,  1580.44,  1580.71,  1579.91,  1579.48,  1579.82,  1580.34,  1580.56,  1580.05.1,  1579.63,  1578.82,  1578.59,  1578.56,  1579.56,  1579.46,  1579.59,  1579.66,  1579.89,  1580.03,  1579.76.1,  1579.84,  1580.41.1,  1580.30,  1580.17.1,  1579.81,  1579.71,  1579.77,  1580.16,  1580.38,  1580.18,  1579.59.1,  1580.06,  1581.21,  1580.89,  1580.82,  1580.48,  1579.97,  1579.64,  1580.42,  1580.06.1,  1580.12.1,  1579.92,  1579.57,  1579.56.1,  1579.40,  1578.90,  1578.50,  1579.30,  1579.93]
Index: []

[0 rows x 80 columns]